@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background: #FFFFFF;
}

/*Barra navegador*/

Header{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    background: linear-gradient(270deg, #070A2A -3.36%, #2C55BD 99.73%);
    box-shadow: 0 4px 25px -15px black;
    z-index: 10;
    top: 0;
    left: 0;
}

.Header-content{
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.Logo img{
    width: 146px;
    height: 47px;
}

/*nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

div .Barra-menu, .Content{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.Sub-menu-wrap{
    position: absolute;
    margin-top: 20px;
    margin-left: -45px;
    width: 200px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.Sub-menu-wrap.open-menu{
    max-height: 400px;
}

.Sub-menu{
    background: white;
    margin: 10px;
    border: black 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.Sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 12px;
}

.Sub-menu-link p{
    width: 100%;
}

.Sub-menu-link:hover p{
    font-weight: 600;
}

Botón contacto

#Content-button{
    padding: 0;
    margin: 0;
}

button{
    display: inline-block;
    padding: 9px 25px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 5px;
}

button:hover{
    background-color: #43cd66;
    color: white;
} */

/*Sección imagen*/

.Info{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 80px;
}

.Muestra {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 50%;
}

.card-link{
    width: 175px;
    height: 175px;
}

.card-container {
    position: relative;
    width: 164px;
    height: 164px;
}
  
.Opciones1 {
    position: absolute;
    top: 0;
    left: 8px;
    width: 164px;
    height: 164px;
    border-radius: 15px 50px 15px 25px;
    background: rgba(207, 216, 251, 0.77);
    backdrop-filter: blur(2px);
    z-index: 0;
}
  
.Opciones2 {
    position: absolute;
    top: 8px;
    left: 0;
    width: 164px;
    height: 164px;
    border-radius: 15px 50px 15px 25px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(8px);
    box-shadow: 
      inset -4px -4px 10px rgba(255, 255, 255, 0.6),
      0 4px 10px rgba(0, 94, 189, 0.25);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
  
.Opciones2 .icono {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    background: rgba(184, 199, 255, 0.5);
    margin-bottom: 10px;
}
  
.Opciones2 .icono img {
    width: 55px;
    height: 55px;
}
  
.Subtitle p {
    margin: 0;
    font-size: 18px;
    color: rgba(106, 126, 147, 1);
    font-weight: 500;
}

/* CALENDARIO */

.calendar-container {
    width: 400px;
    height: auto;
    margin: auto;
    font-family: sans-serif;
    background: white;
    padding: 15px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 2px 8px 0px rgba(0, 94, 189, 0.15);
}

.Text-calendar {
    width: 400px;
    text-align: center;
    font-size: 21px;
    margin-top: 5px;
}
  
.calendar-header {
    width: 400px;
    text-align: center;
    color: #0070d2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    border: 2px solid rgba(0, 92, 185, 0.30);
    background: #F4F7FA;
    margin: auto;
}

.calendar-months {
    width: 400px;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.calendar-header div button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    color: #0070d2;
    padding: 0;
    margin:5px;
    font-size: 24px;
    width: 60px;
}
  
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    color: #777;
    padding-bottom: 10px;
    font-size: 18px;
}
  
.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 10px;
    font-size: 18px;
}

  
.today {
    background: radial-gradient(57.37% 57.37% at 50% 50%, rgba(93, 205, 224, 0.80) 0%, rgba(93, 205, 224, 0.00) 100%);
    border: 1px;
    border-color: #5DCDE0;

    color: white;
}

.domingo {
    color: #0070d2;
}

.calendar-dates div {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
}

.calendar-dates div:hover {
    background: #dbeaff;
}

/* Eventos Contenedor */

.eventos-box {
    width: 400px;
    height: 250px;
    margin: auto;
    background-color: white;
    padding: 10px 15px 20px 15px;
    border: 1px solid #d2e3f3;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0, 94, 189, 0.15), 0px 4px 8px 0px rgba(0, 94, 189, 0.15);
    font-family: sans-serif;
    margin-top: 30px;
}
  
.eventos-box h2 {
    text-align: center;
    font-size: 22px;
    color: #828282;
    font-weight: 500;
    margin-bottom: 20px;
}
  
.eventos-lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 175px;
    overflow-y: auto;
    padding-right: 5px;
}
  
/* Scroll personalizado */
  
.evento {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #eee;
    box-shadow: 0 2px 4px rgba(0, 94, 189, 0.05);
    padding: 10px;
    align-items: center;
}
  
.evento-fecha {
    background-color: #e6effa;/*rgba(200, 213, 224, 0.37);*/
    color: #5a91c2;
    font-weight: bold;
    border-radius: 6px;
    padding: 6px 10px;
    text-align: center;
    margin-right: 10px;
    width: 50px;
}
  
.dia {
    font-size: 18px;
}
  
.dia-texto {
    font-size: 12px;
}
  
.evento-titulo {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}
  
.evento-hora {
    margin: 3px 0 0;
    font-size: 14px;
    color: #666;
}

.eventos-lista::-webkit-scrollbar {
    width: 6px;
}

.eventos-lista::-webkit-scrollbar-thumb {
    background-color: #D7D4D4;
    border-radius: 4px;
}

/*Scroll personalizado*/

body::-webkit-scrollbar{
    width: 7px;
    background: white;
}

body::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border-right: 3px white solid;
}

/* Para pantallas grandes (≥1200px) */

@media screen and (min-width: 1200px) {
    .Muestra {
        grid-template-columns: repeat(3, 1fr);
        width: 60%;
    }

    .calendar-container,
    .eventos-box {
        width: 400px;
    }
}

/* Para pantallas medianas (≥768px y <1200px) */

@media screen and (max-width: 1199px) and (min-width: 768px) {
    .Muestra {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        gap: 30px;
    }
  
    .calendar-container,
    .calendar-header,
    .eventos-box {
        width: 90%;
    }
  
    .calendar-months {
        font-size: 24px;
    }
}

/* Para pantallas pequeñas (<768px) */

@media screen and (max-width: 767px) {
    .Info {
        flex-direction: column;
        margin-top: 60px;
    }
  
    .Muestra {
        width: 100%;
        gap: 50px;
        padding: 50px;
    }
  
    .calendar-container,
    .eventos-box,
    .calendar-header,
    .calendar-months {
        width: 100%;
    }
  
    .calendar-months {
        font-size: 20px;
    }
  
    .calendar-days,
    .calendar-dates {
        font-size: 16px;
        gap: 6px;
    }
  
    .calendar-dates div {
        width: 28px;
        height: 28px;
        line-height: 28px;
    }
}